@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Twinkle+Star&display=swap');


        :root {
            --primary-color: #333;
            --second-color: #FFF;
            --color-hover: #505050;
    
            --logo: 'Twinkle Star', cursive;
            --subcamadas: 'Gruppo', sans-serif;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body{
            background-color: #333;
            background-image: url(img/space.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            background-attachment: fixed;
    
            width: 100%;
            height: 10vh;
        }

        #msg {
            margin-top: 40px;
            height: 70px;
        }


        main > div > h2 {
            font-family: var(--subcamadas);
            color: var(--second-color);
            text-align: center;
            padding-bottom: 30px;
        }


        #carta {
            width: 100vh;
            position: relative;
            display: flex;
            padding-top: 10px;
            padding-left: 100px; 
            align-items: center;
            margin-top: 80px;
            left: 1%;
        }

        #um {
            position: relative;
            transform: rotate(-30deg);
            margin-top: 40px;
        }

        #dois {
            position: relative;
            left: -32%;
            transform: rotate(-28deg);
            margin-top: 20px;
        }

        #tres {
            position: relative;
            left: -63%;
            transform: rotate(-26deg);
            margin-top: -5px;
        }

        #quatro {
            position: relative;
            left: -93%;
            transform: rotate(-24deg);
            margin-top: -25px;
        }

        #cinco {
            position: relative;
            left: -123%;
            transform: rotate(-22deg);
            margin-top: -48px;
        }


        main > div > img {
            width: 190px;
            border: 2px solid yellow;
            border-radius: 8px;
            
        }

        .buts {
            background-color: var(--second-color);
            color: var();
            width: 120px;
            height: 40px;
            font-size: 1.2em;
            font-weight: bolder;
            font-family: var(--subcamadas);
            border-radius: 6px;
            border: 2px solid var(--color-hover);
            justify-content: center;
            position: relative;
            left: -460%;
            transform: translateY(-80%);
            padding: auto;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .buts:hover {
            background-color: var(--color-hover);
            color: var(--second-color);
            border: 2px solid var(--second-color);
        }

        #obs {
            position: absolute;
            display: flex;
            width: 450px;
            min-height: 200px;
            padding: 15px;
            text-align: justify;
            color: var(--second-color);
            font-family: var(--subcamadas);
            font-size: 1.2em;
            top: 5%;
            left: 112%;
            border: 2px solid var(--second-color);
            border-radius: 7px;
            animation: brilho 3s linear infinite;
        }


        @keyframes brilho {
            0% {
                transform: scale(1);
                opacity: 0.8;
            }

            50% {
                transform: scale(1.05);
                opacity: 0.9;
            }

            100% {
                transform: scale(1);
                opacity: 0.8;
            }
        }

        .dest {
            text-decoration: underline;
            font-weight: bolder;
            font-size: 1.3em;
        }

        .carta {
            transition: left 0.5s ease;
        }

        .hidden {
            display: none;
        }

        .newSection {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: right;
        } 
         
        
        .divCarta {
            width: 100%;
            position: relative;
            display: flex;
            z-index: -1;
        }

        .imagemCarta {
            width: 220px;
            border: 2px solid yellow;
            border-radius: 8px; 
            animation: flipInY;
            animation-duration: 2s;
        }

        .cartaTarot {
            height: 400px;
            position: relative;
            margin-left: -50px;
            left: 13%;
            top: 20%;
        }
        
        .containerConselho {
            color: var(--second-color);
            text-align: left;
            font-family: var(--subcamadas);
            font-size: 1.3em;
            max-width: 200px;
            max-height: 450px;
            margin-left: -30px;
            position: relative;
            left: 25%;
            top: 20%;
        }

        .conselho {
            font-size: 1.5em;
            text-align: left;
            font-weight: bolder;
            text-decoration: underline;
            margin-bottom: 30px;
        }


        .containerCristalErva {
            position: relative;
            display: flex;
            max-width: 800px;
            height: 350px;
            justify-content: center;

            top: 20%;
            left: 30%
        }
        
        .iCristal, .iErva {
            width: 180px;
            height: 180px;
            border: 2px solid var(--second-color);
            border-radius: 50%;
            margin-right: 40px;
            transition: ease 2s;
            margin-top: 100px;
            margin-left: 40px;
        }

        .txtC, .txtE  {
            position: absolute;
            color: var(--second-color);
            font-family: var(--subcamadas);
            font-size: 1.2em;
            font-weight: bolder;
            max-width: 240px;
            top: 10%;
            left: 10%;
        }

        .txtE {
            left: 60%;
        }


        .divBut {
            display: flex;
            position: fixed;
            height: 35px;
        }

        .but {  
            cursor: pointer;
            background-color: var(--primary-color);
            border-radius: 0px 0px 5px 5px;
            border: 2px solid var(--color-hover);
            font-size: 1em;

            padding: 3px;
            display: flex;
            height: 35px;      
        }

        .but:hover {
            border: 2px solid var(--second-color);
            text-decoration: underline var(--second-color);
        }

        .butI {
            width: 65px; 
        }
        
        .butT {
            width: 140px; 
        }

         .tagA, .tagT {
            color: var(--second-color);
            font-size: 1.3em;
            font-family: var(--subcamadas);
            font-weight: bolder;
            text-decoration: none;
        }



        @media screen and (min-width: 500px) and (max-width: 1200px) {
            body {
                width: 100%;
                height: 100vh;
                overflow-x: hidden;
            }

            #msg {
                margin-top: 5px;
                height: 80px;
                font-size: 0.9em;
                justify-content: center;
                align-items: center;
            }

            #carta {
                top: -50px;
                justify-content: center;
                left: 50%;
            }

            #emb {
                
                top: 320px;
                left: -760% ;
            }

            #sort {
                top: 260px;
                left: -630% ;
            }

            #obs {
                display: flex;
                top: 135%;
                left: -34.5%;
                font-size: 1em;
            }


            .cartaTarot {
                margin-left: -20px;
                top: 10%;
            }
            
            .containerConselho {
                font-size: 1.2em;
                margin-left: -140px;
                position: relative;
                left: 45%;
                top: 10%;

            }

            .containerCristalErva {
                position: absolute;
                top: 70%;
                margin-left: -160px;
            }

        } 



