@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Twinkle+Star&display=swap');


        :root {
            --primary-color: #333;
            --second-color: #FFF;
            --color-hover: #505050;
    
            --logo: 'Twinkle Star', cursive;
            --subcamadas: 'Gruppo', sans-serif;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body{
            background-color: #333;
            background-image: url(img/space.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            background-attachment: fixed;
    
            width: 100%;
        }

        #msg {
            margin-top: 40px;
            height: 70px;
        }


        main > div > h2 {
            font-family: var(--subcamadas);
            color: var(--second-color);
            text-align: center;
            padding-bottom: 30px;
        }


        #carta {
            width: 100%;
            height: 300px;
            padding-top: 10px;
            margin-top: 40px;
            z-index: -1;
            
        }

        .cartas {
            width: 15%;
            height: auto;
            border: 2px solid yellow;
            border-radius: 8px;
            position: absolute;
        }

        #um {
            left: 10%; 
            transform: rotate(-25deg);
            background-color: #FFF;
        }

        #dois {
            left: 12%; 
            transform: rotate(-28deg);
            background-color: #505050;
        }

        #tres {
            left: 14%;  
            transform: rotate(-26deg);
            background-color: #FFF;  
        }

        #quatro {
            left: 16%; 
            transform: rotate(-24deg);
            background-color: #505050; 
        }

        #cinco {
            left: 18%; 
            transform: rotate(-22deg);
            background-color: #FFF;
        }

        .butEmbSort {
            display: flex;
            width: 260px;
            height: 50px;
            margin-left: 37%;
            margin-top: -15%;
            justify-content: space-between;
            align-items: center;
        }

        .buts {
            background-color: var(--second-color);
            color: var();
            width: 120px;
            font-size: 1.2em;
            font-weight: bolder;
            font-family: var(--subcamadas);
            border: 2px solid var(--color-hover);
            border-radius: 6px;
            cursor: pointer;

            padding: auto;
            height: 40px;
            justify-content: center;
        }

        .buts:hover {
            background-color: var(--color-hover);
            color: var(--second-color);
            border: 2px solid var(--second-color);
        }

        #obs {
            color: var(--second-color);
            font-family: var(--subcamadas);
            font-size: 1.2em;
            text-align: justify;
            border: 2px solid var(--second-color);
            border-radius: 7px;
            animation: brilho 3s linear infinite;

            width: 450px;
            min-height: 200px;
            padding: 15px;

            position: absolute;
            display: flex;
            top: 30%;
            left: 63%;
        }


        @keyframes brilho {
            0% {
                transform: scale(1);
                opacity: 0.8;
            }

            50% {
                transform: scale(1.05);
                opacity: 0.9;
            }

            100% {
                transform: scale(1);
                opacity: 0.8;
            }
        }

        .dest {
            text-decoration: underline;
            font-weight: bolder;
            font-size: 1.3em;
        }

        .carta {
            transition: left 0.5s ease;
        }

        .hidden {
            display: none;
        }

        .newSection {
            width: 100vw;
            height: 100vh;
            justify-content: left;
            display: block;
        } 
         

        .cartaTarot {
            height: 400px;
            z-index: -1;
            margin: 8% 8% 0 8%;
            
        }

        .imagemCarta {
            width: 220px;
            border: 2px solid yellow;
            border-radius: 8px; 
            animation: flipInY;
            animation-duration: 2s;
            z-index: -1;
        }
        
        .containerConselho {
            z-index: -1;
            color: var(--second-color);
            text-align: center;
            font-family: var(--subcamadas);
            font-size: 1.3em;
            max-width: 200px;
            max-height: 450px;
            margin-left: 35%;
            margin-top: -28%;
        }

        .conselho {
            font-size: 1.5em;
            text-align: center;
            font-weight: bolder;
            text-decoration: underline;
            padding-bottom: 5px;
            z-index: -1;
        }


        .containerCristalErva {
            position: relative;
            display: flex;
            max-width: 600px;
            height: 350px;
            justify-content: center;

            top: -40%;
            left: 52%;
            z-index: -1;
        }
        
        .iCristal, .iErva {
            width: 180px;
            height: 180px;
            border: 2px solid var(--second-color);
            border-radius: 50%;
            margin-right: 40px;
            transition: ease 2s;
            margin-top: 100px;
            margin-left: 40px;
        }

        .txtC, .txtE  {
            position: absolute;
            color: var(--second-color);
            font-family: var(--subcamadas);
            font-size: 1.2em;
            font-weight: bolder;
            max-width: 240px;
            top: 10%;
            left: 10%;
        }

        .txtE {
            left: 60%;
        }


        .divBut {
            display: flex;
            height: 35px;
            justify-content: right;
        }

        .but {  
            cursor: pointer;
            background-color: var(--primary-color);
            border-radius: 0px 0px 5px 5px;
            border: 2px solid var(--color-hover);
            font-size: 1em;

            padding: 3px;
            height: 35px;     
        }

        .but:hover {
            border: 2px solid var(--second-color);
            text-decoration: underline var(--second-color);
        }

        .butI {
            width: 65px; 
        }
        
        .butT {
            width: 140px; 
        }

         .tagA, .tagT {
            color: var(--second-color);
            font-size: 1.3em;
            font-family: var(--subcamadas);
            font-weight: bolder;
            text-decoration: none;
        }



@media screen and (min-width: 300px) and (max-width: 500px) {
    #carta {
        width: 100%;
        height: 300px;
        padding-top: 10px;
        margin-top: 90px;
        z-index: -1;
    }

    .cartas {
        width: 50%;
        height: auto;
        border: 2px solid yellow;
        border-radius: 8px;
        position: absolute[];
    }

    #um {
        left: 25%; 
        transform: rotate(-25deg);
        background-color: #FFF;
    }

    #dois {
        left: 20%; 
        transform: rotate(-26deg);
        background-color: #505050;
    }

    #tres {
        left: 26%;  
        transform: rotate(-26deg);
        background-color: #FFF;  
    }

    #quatro {
        left: 26%; 
        transform: rotate(-24deg);
        background-color: #505050; 
    }

    #cinco {
        left: 28%; 
        transform: rotate(-22deg);
        background-color: #FFF;
    }
    
    .butEmbSort {
        width: 250px;
        height: 100px;
        margin: 50px 10px 5px 60px;
    }

    #obs {
        width: 300px;
        min-height: 100px;

        display: block;
        margin: 0 auto;

        top: 98%;
        left: 10%;
    }



    .newSection {
        display: block;
        margin: 0 auto;
        height: auto;
    }
    
    .cartaTarot {
        margin: 10% 5% 0 23%;
    }
    
    .containerConselho {
        display: block;
        margin: 0 auto;
    }

    .containerCristalErva {
        display: block;
        margin: 0 auto;
        height: 600px;
        width: 99%;
        top: 5%;
        left: 0%;
        align-items: center;
    }

    .iCristal {
       top: 40%;
       margin-left: 25%;

    }

    .iErva {
        margin-top: 20%;
        margin-left: 100px;

     }


    .txtC {
        top: 4%;
        left: 32%;
        width: 200px;
    }

    .txtE {
        top: 52%;
        left: 32%;
    }

    .divBut {
        display: flex;
        height: 35px;
        top: 0%;
    }
}
